@use "src/styles/tokens";
@use "src/styles/mixins";

.base {
  @include mixins.square(var(--size));

  color: tokens.$brand;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: spin 0.7s linear infinite;

  & svg {
    @include mixins.square(66.67%);
  }

  &.s {
    --size: 24px;
  }

  &.m {
    --size: 48px;
  }

  &.l {
    --size: 60px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
