@use "src/styles/tokens";

.root {
  display: flex;
  gap: tokens.$space-l * 4;
  justify-content: space-between;

  @media screen and (max-width: 180ch) {
    flex-direction: column;
    align-items: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: tokens.$space-m;
  height: fit-content;
  position: sticky;
  top: tokens.$space-m;

  @media screen and (max-width: 180ch) {
    top: 0;
    position: relative;
  }
}

.title {
  @media screen and (max-width: 180ch) {
    text-align: center;
  }
}
